* {
    padding: 0;
    margin: 0;
    font-family: Margarine;
    color: #8f325c;
}

@font-face {
    font-family: Margarine;
    src: url(assets/font/Margarine/Margarine-Regular.ttf);
}

img {
    user-select: none;
    pointer-events: none;
}

h1 {
    font-size: 26px;
}

hr {
    border-top: 30px solid; margin: -0px auto;
    width: 100%;
    max-width: 380px
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffebb4;
}

::-webkit-scrollbar {
    display: none;
}

.wrap {
    align-self: center;
    text-align: center;
    margin: 40px auto;
    width: 90%;
    min-width: 375;
    max-width: 600px;
}

/* Borders */
.magenta-border {
    border-image: url(assets/art/ui/magenta-border.PNG) round;
}

.orange-border {
    border-image: url(assets/art/ui/orange-border.PNG) round;
    border-top: 20px solid;
    margin: -5px 2px;
    max-width: none;
}

.border {
    border-image-slice: 90;
}

 /* Header */
 .custom-shape-divider-top-1740902966 {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1740902966 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 252px;
}

.custom-shape-divider-top-1740902966 .shape-fill {
    fill: #CAD276;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1740902966 svg {
        width: calc(283% + 1.3px);
        height: 291px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1740902966 svg {
        width: calc(283% + 1.3px);
        height: 247px;
    }
}

.header-quote-card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.header-quote-card * {
    margin: 0px 10px;
}

.header-quote-card-icon {
    width: 100px; 
    height: 100px; 
    border: 4px solid; 
    border-radius: 5px;
}

.header * {
    color: #8f325c;
}

.header-logo {
    width: 300px;
}

.header-logo-hr {
    margin-top: -10px;
    margin-bottom: -4px;
}

.header-quote-card-bubble {
    background-color: #3a2859;
    width: 176px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 25px 15px;
}

.header-quote-card-bubble * {
    color: #ffebb4;
}

.header-quote-card-bubble-point {
    width: 30px; position: absolute; left: -15px; top: 36px;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav * {
    text-decoration: none;
    margin: 0px 5px;
    color: #8f325c;
    cursor: pointer;
}

.nav-button:hover {
    animation: nav-wiggle 0.5s infinite;
}


@keyframes nav-wiggle {
    0% {rotate: -5deg;}
  50% {rotate: 5deg;}
  100% {rotate: -5deg;}
}
/*About Me Section */

.about-me {
    display: block;
}
.about-me-profile {
    display: grid; grid-template-columns: 1fr 1fr;
}
@media (max-width: 485px) {
    .about-me-profile {
        display: grid; grid-template-columns: 1fr;
        gap: 20px;
    }

    .about-me-art {
        margin: auto;
    }
}
.about-me-art {
    
    max-width: 200px;
    /*margin-right: 56px;*/
}

p {
    color: #8f325c
}
/* Journal Section */
.journal {
    width: 100%;
    margin: auto;
}

.journal-container {
    margin: 20px auto;
    background-color: #cad276;

    max-width: 100%;
    min-height: 140px;
    border-radius: 4px;
    box-shadow: 0px 8px #b1643c;
    
    display: flex;
    padding: 10px;
    color: #b1643c;
}

.journal-container-content {
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    border-image: url(assets/art/ui/orange-border.PNG);
}

.journal-container-content p {
    margin-left: 10px;
}

.journal-content-information {
    margin: 5px 0px;
    font-weight: bold;
    display: flex;
    height: 20px;
    justify-content: space-between;
    width: inherit;
}

.journal-container-icon {
    height: 80px;
}

/* ARTWORKS */
.artworks-grid {
    display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 5px;
    align-content: center;
    justify-content: center;
    place-items: center;
}

.artworks-art-cover {
    width: 200px; height: 200px; background-color: red;
    border-radius: 10px;
}


@media (max-width: 650px) {
    .artworks-grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 456px) {
    .artworks-grid {
        grid-template-columns: 1fr;
       
    }
    .artworks-art-cover {
        width: 300px;
        height: 300px;

    }
}

/*Projects*/
.projects-container {
    background-color: #cad276; 
    width: 200px; 
    height: 200px; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0px 8px #b1643c;*/
    object-fit: cover;
    
}

.projects-container * {
    align-content: center;
    color:#b1643c;
}
/* Drawing */

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
canvas {
    background-color: white;
    border: 4px solid #8f325c;
    border-radius: 10px;
    box-shadow: 0px 10px #8f325c;

    width: 100%;
    object-fit: contain;
    overflow: auto;
}

.Drawing-Button-Panel {
    align-content: center;
    background-color: #8f325c;
    border-radius: 80px;
    width: 101%;
    margin: 20px auto;
    height: 100px;
}



.section {
    display: block;
}

.hidden {
    display: none;
}